<div class="filter" >
    
    <div class="filterbox">
        <label for="range1"></label>
        <button id="range1" (click)="setCategory('beauty')">
            beauty
        </button>
    </div>

    <div class="filterbox">
        <label for="range2"></label>
        <button id="range2" (click)="setCategory('fragrances')">
            fragrancies
        </button>
    </div>

    
    <div class="filterbox">
        <label for="range3"></label>
        <button id="range3" (click)="setCategory('all')">
            everything
        </button>
    </div>





    
    <div class="filterbox">
        <label for="range4"></label>
        <button id="range4" (click)="setCategory('groceries')">
            groceries
        </button>
    </div>
    
    
    <div class="filterbox">
        <label for="range5"></label>
        <button id="range5" (click)="setCategory('furniture')">
            furniture
        </button>
    </div>
</div>

