<div class="div">
    <div class="textbox"><b>Beauty:</b> Enhance your natural beauty with our wide range of beauty products. From skincare essentials to makeup must-haves, we offer top brands and the latest trends to help you look and feel your best. <br>

        <b> Fragrances:</b> Discover your signature scent with our diverse collection of fragrances. Whether you prefer a fresh and floral aroma or a deep and musky perfume, we have something for everyone. Our selection includes perfumes, colognes, and body sprays from the most sought-after brands.<br>
        
        <b>Groceries:</b> Stock your pantry with our comprehensive grocery section. We provide fresh produce, pantry staples, organic options, and international delicacies to cater to all your culinary needs. Our commitment to quality ensures that you bring home the best ingredients for your meals.<br>
        
        <b> Furniture:</b> Transform your home with our stylish and functional furniture. From cozy living room sets to elegant dining tables and comfortable bedroom furniture, we offer pieces that suit every taste and budget. Our furniture selection is designed to enhance your living space and reflect your personal style.</div>
    <div class="imgbox">
        <img src="assets/images/istockphoto-1402604850-612x612.jpg" alt="" >
    </div>
</div>