<div class="filler d-flex justify-content-center">
    <div class="section_3 d-flex">
        <form class="form">

            <h2>Please Register  and Enjoy </h2>
            <div class="form_1 d-flex justify-content-center align-items-center">
          
                <input type="text" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form_1 d-flex justify-content-center align-items-center">
                <input type="text" id="name" name="name" placeholder="Last Name" required>
            </div>
            
            <div class="form_2 d-flex justify-content-center align-items-center">
       
            <input type="email" id="email" name="email"  placeholder="Email">
        
            </div>
            <div class="form_1 d-flex justify-content-center align-items-center">
                <input type="number" id="name" name="name" placeholder="Your Number" required>
            </div>
            
            
        
            <button type="submit" class="form_submit" routerLink="/home">Register</button>
        </form>


     

</div>
  </div>